[Desktop Entry]
Encoding=UTF-8
Name=Astro
Comment=Astro P2P Cryptocurrency
Comment[fr]=Astro, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Astro, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/Astro
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/astro;
Categories=Office;
